# Discord Webhook URL
webhook: https://discord.com/api/webhooks/1103164737820295209/0_hO0gqFZqGWxkulUzd3Xfo68vjEE0waBd29pi0uS1UQqQxzo6WIIo2B0_4RenGmE8SH

# Optional: Branding for the webhook
webhook_brand: Smuggler Suite